<?xml version="1.0"?>
<config>
	<modules>
		<Oxygen_Minifier>
			<version>0.1.0</version>
		</Oxygen_Minifier>
	</modules>
	<global>
		<models>
			<core>
				<rewrite>
					<design_package>Oxygen_Minifier_Model_DesignPackage</design_package>
				</rewrite>
			</core>
		</models>
		
		<helpers>
			<oxy_minifier>
				<class>Oxygen_Minifier_Helper</class>
			</oxy_minifier>
		</helpers>
	</global>
	
	<default>
		<dev>
			<oxy_minifier>
				<active_js>0</active_js>
				<active_css>1</active_css>
				<active_convert_colors>1</active_convert_colors>
				<active_compress_colors>1</active_compress_colors>
				<active_compress_unit_values>1</active_compress_unit_values>
			</oxy_minifier>
		</dev>
	</default>
</config>
