<?xml version="1.0"?>
<config>
	<modules>
		<Mandagreen_Minifier>
			<version>1.2.0</version>
		</Mandagreen_Minifier>
	</modules>

	<global>
		<models>
			<core>
				<rewrite>
					<layout_update>Mandagreen_Minifier_Core_Model_Layout_Update</layout_update>
					<design_package>Mandagreen_Minifier_Core_Model_Design_Package</design_package>
				</rewrite>
			</core>
            <mgminifier>
                <class>Mandagreen_Minifier_Model</class>
            </mgminifier>
		</models>

		<helpers>
			<mgminifier>
				<class>Mandagreen_Minifier_Helper</class>
			</mgminifier>
		</helpers>
	</global>

	<adminhtml>
		<translate>
			<modules>
				<Mandagreen_Minifier>
					<files>
						<default>Mandagreen_Minifier.csv</default>
					</files>
				</Mandagreen_Minifier>
			</modules>
		</translate>
	</adminhtml>

	<frontend>
        <translate>
            <modules>
                <Mandagreen_Minifier>
                    <files>
                        <default>Mandagreen_Minifier.csv</default>
                    </files>
                </Mandagreen_Minifier>
            </modules>
        </translate>

        <events>
            <http_response_send_before>
                <observers>
                    <mgminifier_clean_data_handles>
                        <class>mgminifier/observer</class>
                        <method>cleanDataHandles</method>
                    </mgminifier_clean_data_handles>
                </observers>
            </http_response_send_before>
        </events>
	</frontend>
	
	<default>
		<dev>
			<mgminifier>
				<active_js>0</active_js>
				<active_css>1</active_css>
				<use_in_admin>0</use_in_admin>
                <merge_css_by_handle>0</merge_css_by_handle>
                <merge_js_by_handle>0</merge_js_by_handle>
                <clean_handles>1</clean_handles>
				<active_convert_rgb_colors>1</active_convert_rgb_colors>
				<active_convert_hsl_colors>1</active_convert_hsl_colors>
				<active_compress_colors>1</active_compress_colors>
				<active_compress_unit_values>1</active_compress_unit_values>
				<active_convert_fontweight>0</active_convert_fontweight>
				<active_convert_namedcolors>0</active_convert_namedcolors>
				<active_replace_variables>0</active_replace_variables>
				<use_for_naming>1</use_for_naming>
			</mgminifier>
		</dev>
	</default>
</config>
