<?xml version="1.0"?>
<config>
    <sections>
        <dev>
            <groups>
                <mgminifier translate="label" module="mgminifier">
                    <label>CSS &amp; JS Minifier (by mandagreen.com)</label>
                    <comment><![CDATA[<div style="max-width: 600px; background: #fff; padding: 5px; border: 1px solid #ddd; font-size: 12px; line-height: 14px;">The idea behind layout-handle merging belongs to <a href="http://gordonlesti.com/lestimerge/">Gordon Lesti</a>, based on the initial problem &amp; solution explained by <a href="http://fishpig.co.uk/magento/tutorials/why-you-shouldnt-merge-javascript/">Fishpig</a>.<br />Many thanks to both of them, as well as to the creators of <a href="http://code.google.com/p/cssmin/">CssMin</a> (Joe Scylla) &amp; <a href="https://github.com/rgrove/jsmin-php">JsMin</a> (Douglas Crockford, Ryan Grove, Adam Goforth).<br/><br/><strong>Known Caveats:</strong><br /> &bull; Enabling layout-handle merging can lead to js/css files being loaded in a different order than expected (leading to strange bugs, especially for js merging). <br /> &bull; Files added from PHP won't be grouped properly, creating additional requests.</div>]]></comment>
                    <sort_order>127</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active_js translate="label">
                            <label>Enable javascript minifier</label>
                            <comment><![CDATA[<em>Note:</em> Make sure you test this before using it in production. All js files will be minified, so they should be properly written. Read more at <a href="http://javascript.crockford.com/jsmin.html" target="_blank">javascript.crockford.com/jsmin.html</a>]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_js>

                        <active_css translate="label">
                            <label>Enable CSS minifier</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_css>

                        <merge_js_by_handle translate="label">
                            <label>Merge javascript by handle</label>
                            <frontend_type>select</frontend_type>
                            <comment>Group js files by layout handle (only works if merging is enabled; works with js minifier enabled/disabled).</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merge_js_by_handle>

                        <merge_css_by_handle translate="label">
                            <label>Merge CSS by handle</label>
                            <frontend_type>select</frontend_type>
                            <comment>Group CSS files by layout handle (only works if merging is enabled; works with css minifier enabled/disabled).</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merge_css_by_handle>

                        <clean_handles translate="label">
                            <label>Clean JS &amp; CSS handles</label>
                            <frontend_type>select</frontend_type>
                            <comment>If merging by handle is enabled, it's a good idea to set this to yes (unless debugging).</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>29</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </clean_handles>

                        <active_convert_colors translate="label">
                            <label>CSS - Convert RGB color values</label>
                            <comment><![CDATA[Applies only if "Enable CSS Minifier" is set to "Yes". Convert "rgb(200,60%,5)" to hex "#c89905"]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_convert_colors>

                        <active_convert_hsl_colors translate="label">
                            <label>CSS - Convert HSL color values</label>
                            <comment><![CDATA[Applies only if "Enable CSS Minifier" is set to "Yes". Convert "hsl(200,60%,5)" to hex "#c89905"]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_convert_hsl_colors>

                        <active_compress_colors translate="label">
                            <label>CSS - Compress color values</label>
                            <comment><![CDATA[Applies only if "Enable CSS Minifier" is set to "Yes". Compress color values from "#aabbcc" to "#abc"]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_compress_colors>

                        <active_compress_unit_values translate="label">
                            <label>CSS - Compress unit values</label>
                            <comment><![CDATA[Applies only if "Enable CSS Minifier" is set to "Yes". Compresses "0.5px" to ".5px", "0px" to "0" and "0 0 0 0" to "0"]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_compress_unit_values>

                        <active_convert_fontweight translate="label">
                            <label>CSS - Convert font-weight values</label>
                            <comment><![CDATA[Applies only if "Enable CSS Minifier" is set to "Yes". Convert font-weight: bold to font-weight:700 and font-weight: normal to font-weight:400]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_convert_fontweight>

                        <active_convert_namedcolors translate="label">
                            <label>CSS - Convert named colors</label>
                            <comment><![CDATA[Applies only if "Enable CSS Minifier" is set to "Yes". Convert color: red to color: #f00]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_convert_namedcolors>

                        <active_replace_variables translate="label">
                            <label>CSS - Replace Variables</label>
                            <comment><![CDATA[Applies only if "Enable CSS Minifier" is set to "Yes". <a href="http://code.google.com/p/cssmin/wiki/MinifierFilterVariables">Read more here</a>]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_replace_variables>
                    </fields>
                </mgminifier>
            </groups>
        </dev>
    </sections>
</config>